
$lt-gray: #ddd;
$background-dark: #1d3557 ;
$background-light: #457b9d  ;
$background-pale: #a8dadc ;
$background-moredark: #355070  ;
@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}
.active {
    background: $background-moredark;
}
.serif {
    font-size:16px;
    color:floralwhite;
    font-family: Arial, Helvetica, sans-serif;
  }
  a.serif:link
  {
     background-color: $background-dark;
     text-decoration: none;
     color:floralwhite;
  }
  a.serif:visited
  {
     color: $background-dark;
     text-decoration: none;
     color:floralwhite;
  }
  a.serif:hover
  {
     color: $background-moredark;
     text-decoration: none;
     color:floralwhite;
  }
  a.serif:active
  {
     color: $background-moredark;
     text-decoration: none;
     color:floralwhite;
  }
  .header1{
      background-color: $background-dark;
  }
  .container1{
  
    display:flex;
  }
  