
$lt-gray: #ddd;
$background-dark: #1d3557 ;
$background-light: #457b9d  ;
$background-pale: #a8dadc ;
$background-moredark: #355070  ;
@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}
.active {
    background: $background-moredark;
}
.serif {
    font-size:1rem;
    color:floralwhite;
  }
  a.serif:link
  {
     background-color: $background-dark;
     text-decoration: none;
     color:floralwhite;
  }
  a.serif:visited
  {
     color: $background-dark;
     text-decoration: none;
     color:floralwhite;
  }
  a.serif:hover
  {
     color: $background-moredark;
     text-decoration: none;
     color:floralwhite;
  }
  a.serif:active
  {
     color: $background-moredark;
     text-decoration: none;
     color:floralwhite;
  }
  .header1{
      background-color: $background-dark;
  }
  .container1{
  
    display:flex;
  }
  .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #a8dadc;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: black;
    border: 0;
    outline: 0;
    background: #a8dadc;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }