<mat-sidenav-container fullscreen>
  <mat-sidenav class="vertical-menu" mode="side" #sidenav opened position="start">
    <a mat-button class="serif"  routerLink="/dashboard" routerLinkActive="active" ><i class="fa fa-clock-o icon-5x"></i><b> Dashboard</b></a>
    <a mat-button class="serif"  routerLink="/adminprofile" routerLinkActive="active"><i class="fa fa-user icon-5x"></i><b> Profile</b></a>
    <a mat-button class="serif"  routerLink="/courieraccept" routerLinkActive="active" ><i class="fa fa-envelope icon-5x"></i><b> New Couriers</b></a>
    <a mat-button class="serif" routerLink="/courierdeliver" routerLinkActive="active"><i class="fa fa-envelope icon-5x"></i><b>Courier Delivery</b></a>
    <a mat-button (click)="logout()"><i class="fa fa-unlock-alt icon-5x"></i><b> Logout</b></a>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: #1d3557;color:floralwhite">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
     V2V Couriers
    </mat-toolbar>
    <pre>
      Consignment No                              Sender Info                                 Receiver Info                                   Status                Accept
    </pre>
    <table>
      <p *ngFor="let courier of couriers">
        <tr>
        <td>{{courier.id|json}}</td>
        <td>{{courier.Sendername|json}} 
          {{courier.mail|json}} 
        {{courier.phNumber|json}}
      {{courier.Senderaddress|json}}
    {{courier.Sendercity|json}}
    {{courier.Senderstate|json}}</td>
    <td>
      {{courier.repname|json}}
      {{courier.repphNumber|json}}
      {{courier.repaddress|json}}
      {{courier.repcity|json}}
      {{courier.repstate|json}}
    </td>
    <td>
      {{courier.status|json}}
    </td>
    <td>
      <button type="button" mat-raised-button class=" text-floral-white" style="background-color:green"  (click)='accepted(courier)'>Accept</button>
    </td>
        </tr>
      </p>
    </table>                                                                                                                                                              
  </mat-sidenav-content>
</mat-sidenav-container>
