<head>
  
</head>
<div 
  fxLayout="column"
  fxLayoutGap="10px">
  <div fxFlex>
    <div>
        <h3>About Us</h3>
        <hr>
    </div>
  </div>
  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Our History</h2>
        <p>Started in 1988, V2V Couriers quickly established itself as a culinary icon par excellence in India. With its unique brand 
          of world fusion courier service provider that can be found nowhere else, it enjoys patronage from the A-list 
          clientele in India.  </p>
      </div>
      <span class="flex-spacer"></span>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header class="card">
            <mat-card-title>
            <h2>Facts At a Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl class="row">
              <dt class="col-6">Started</dt>
              <dd class="col-6">3 Feb. 1988</dd>
              <dt class="col-6">Major Stake Holder</dt>
              <dd class="col-6">HK Deliveries Inc.</dd>
              <dt class="col-6">Last Year's Turnover</dt>
              <dd class="col-6">$1,250,375</dd>
              <dt class="col-6">Employees</dt>
              <dd class="col-6">40</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>It's very fast and simple.</h3>
        <footer>-- Yogi Berra,
          <cite>The Wit and Wisdom of Yogi Berra,
            P. Pepe, Diversion Books, 2014</cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>
</div>
