<head>
 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
<div class="cotn_principal">
  <div class="cont_centrar">
    <div class="cont_login">
  <div class="cont_info_log_sign_up">
        <div class="col_md_login">
  <div class="cont_ba_opcitiy">        
          <h2>LOGIN</h2>    
    <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
    </div>
    </div>
  <div class="col_md_sign_up">
  <div class="cont_ba_opcitiy">
    <h2>SIGN UP</h2>
    <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
  </div>
    </div>
         </div>
      <div class="cont_back_info">
         <div class="cont_img_back_grey">
         <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
         </div>   
      </div>
  <div class="cont_forms" >
      <div class="cont_img_back_">
         <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
         </div>
   <div class="cont_form_login">
  <a routerLink="/start" onclick="ocultar_login_sign_up()" ><span class="material-icons">
    close
    </span></a>
     <h2>LOGIN</h2>
     <app-login></app-login>
  <!--<button class="btn_login" onclick="cambiar_login()">LOGIN</button>-->
    </div>
     <div class="cont_form_sign_up">
  <a href="#" onclick="ocultar_login_sign_up()"><span class="material-icons">
    close
    </span></a>
       <h2>SIGN UP</h2>
  <app-register></app-register>
  <!--<button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>-->
    </div>
      </div>  
    </div>
   </div>
  </div>
</body>