<head>
  
</head>
<div 
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>Contact Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Location Information</h3> 
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
          501, 5th Foor Jade Arcade<br>
          Opp. Hotel Paradise M.G.Road, SECUNDERABAD - 500 003,TELANGANA<br>
          INDIA<br>
          <i class="fa fa-phone"></i>: (040) 27813344<br>
          <i class="fa fa-fax"></i>: (040) 27813344<br>
          <i class="fa fa-envelope"></i>: 
                <a href="mailto:v2vhyd@v2vglobe.co.in">v2vhyd@v2vglobe.co.in</a>
        </address>
        <p></p>
        <div>
          <a mat-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
          <a mat-raised-button><i class="fab fa-skype"></i> Skype</a>
          <a mat-raised-button href="mailto:confusion@food.net"><i class="fa fa-envelope"></i> Email</a>
        </div>
        </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>
        <iframe width="520" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
        src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=501,%205th%20Foor%20Jade%20Arcade%20Opp.%20Hotel%20Paradise%20M.G.Road,%20SECUNDERABAD%20Hyderabad+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> 
         
      </div>
    </div>
  </div>
  <div fxFlex fxFlexOffset="20px" class="form-size">
    <h3>Send us your Feedback</h3>
    
    <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="half-width" appearance="none">
          <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
          <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width" appearance="none">
          <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
          <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="half-width" appearance="none">
          <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
          <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width" appearance="none">
          <input matInput formControlName="email" placeholder="Email" type="email" email required>
          <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-slider label="Rating" thumbLabel tickInterval="1" min="1" max="5" step="1" value="5" #matslider ></mat-slider>
        </p>
      <table class="form-size">
        <td>
          <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
        </td>
        <td>
          <mat-select placeholder="How?" formControlName="contacttype">
            <mat-option *ngFor="let ctype of contactType" [value]="ctype">
              {{ ctype }}
            </mat-option>
          </mat-select>
        </td>
        </table>
      <p>
        <mat-form-field class="full-width" appearance="none">
          <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
        </mat-form-field>
      </p>
      <button type="reset" mat-raised-button class=" text-floral-white"  style="background-color:gray">Reset</button>
      <button type="submit" mat-raised-button class=" text-floral-white" style="background-color:green" [disabled]="fform.form.invalid">Submit</button>
    </form>
  </div>
</div>
<script type='text/javascript'
         src='https://embedmaps.com/google-maps-authorization/script.js?id=5c23b7093d113961b129de95ca10ebb629c0b1b8'></script>