<head>
 
</head>
<body>
<div *ngIf="!submitted && !info">
<h4>Fill in the form to post a courier</h4>
<form  novalidate [formGroup]="pickupForm" #fform="ngForm" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field class="half-width" appearance="none">
            <input matInput formControlName="sendername"  placeholder="Sender's Name"  type="text" required>
            <mat-error *ngIf="formErrors.sendername">{{formErrors.sendername}}</mat-error>
        </mat-form-field>
    </p> 
    <p>
        <mat-form-field class="half-width" appearance="none">
            <input matInput formControlName="email" placeholder="Email" type="email"  email required>
            <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
          </mat-form-field>
          <mat-form-field class="half-width" appearance="none">
            <input matInput formControlName="phnumber" placeholder="Phone Number"  type="tel" pattern="[0-9]*" required>
            <mat-error *ngIf="formErrors.phnumber">{{formErrors.phnumber}}</mat-error>
          </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width" appearance="none">
          <input matInput formControlName="senderaddress" placeholder="Sender's Address"  type="text" required>
          <mat-error *ngIf="formErrors.senderaddress">{{formErrors.senderaddress}}</mat-error>
      </mat-form-field>
  </p>
  <p>
    <mat-form-field class="half-width" appearance="none">
        <input matInput formControlName="sendercountry" placeholder="Sender's Country"  type="text" required>
        <mat-error *ngIf="formErrors.sendercountry">{{formErrors.sendercountry}}</mat-error>
    </mat-form-field>
</p>
<p>
  <mat-form-field class="half-width" appearance="none">
      <input matInput formControlName="senderdistrict" placeholder="Sender's District"  type="text" required>
      <mat-error *ngIf="formErrors.senderdistrict">{{formErrors.senderdistrict}}</mat-error>
  </mat-form-field>
</p>
  <table class="form-size">
    <td>
      <mat-form-field class="half-width" appearance="none">
        <input matInput formControlName="sendercity" placeholder="Sender's City"  type="text" required>
        <mat-error *ngIf="formErrors.sendercity">{{formErrors.sendercity}}</mat-error>
    </mat-form-field>
    </td>
    <td>
      <mat-form-field class="half-width" appearance="none">
        <input matInput formControlName="senderstate"  placeholder="Sender's State"  type="text" required>
        <mat-error *ngIf="formErrors.senderstate">{{formErrors.senderstate}}</mat-error>
    </mat-form-field>
    </td>
    </table>
    <table class="form-size">
      <td>
        <mat-slide-toggle formControlName="agree" >May we contact you?</mat-slide-toggle>
      </td>
      <td>
        <mat-select  placeholder="None" formControlName="contacttype"  >
          <mat-option *ngFor="let ctype of contacttype" [value]="ctype">
            {{ ctype }}
          </mat-option>
        </mat-select>
      </td>
      </table>
    <p>
        <mat-form-field class="half-width" appearance="none">
            <input matInput formControlName="repname" placeholder=" Recipient Name"  type="text" required>
            <mat-error *ngIf="formErrors.repname">{{formErrors.repname}}</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="half-width" appearance="none">
            <input matInput formControlName="repphnumber" placeholder=" Recipient Phone Number"  type="tel" pattern="[0-9]*" required>
            <mat-error *ngIf="formErrors.repphnumber">{{formErrors.repphnumber}}</mat-error>
          </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width" appearance="none">
          <input matInput formControlName="repaddress" placeholder=" Recipient Address"  type="text" required>
          <mat-error *ngIf="formErrors.repaddress">{{formErrors.repaddress}}</mat-error>
      </mat-form-field>
  </p>
  <p>
    <mat-form-field class="half-width" appearance="none">
        <input matInput formControlName="repcountry" placeholder="Recipient Country"  type="text" required>
        <mat-error *ngIf="formErrors.repcountry">{{formErrors.repcountry}}</mat-error>
    </mat-form-field>
</p>
<p>
  <mat-form-field class="half-width" appearance="none">
      <input matInput formControlName="repdistrict" placeholder="Recipient District"  type="text" required>
      <mat-error *ngIf="formErrors.repdistrict">{{formErrors.repdistrict}}</mat-error>
  </mat-form-field>
</p>
  <table class="form-size">
    <td>
      <mat-form-field class="half-width" appearance="none">
        <input matInput formControlName="repcity"  placeholder="Recipient City" type="text" required>
        <mat-error *ngIf="formErrors.repcity">{{formErrors.repcity}}</mat-error>
    </mat-form-field>
    </td>
    <td>
      <mat-form-field class="half-width" appearance="none">
        <input matInput formControlName="repstate"  placeholder="Recipient State"  type="text" required>
        <mat-error *ngIf="formErrors.repstate">{{formErrors.repstate}}</mat-error>
    </mat-form-field>
    </td>
    </table>
    <table class="half-width">
      <td>
        <mat-label>Courier Service</mat-label>
      </td>
      <td>
        <mat-select placeholder="Standard" formControlName="courierservice"  >
          <mat-option *ngFor="let ctype of courierservice" [value]="ctype">
            {{ ctype  }}
          </mat-option>
        </mat-select>
      </td> 
      </table>
    <p>
        <mat-form-field class="half-width" appearance="none">
        <mat-label>Pick a Date</mat-label>
        <input matInput formControlName="pickupdate" [matDatepicker]="picker"   required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
        <mat-error *ngIf="formErrors.pickupdate">{{formErrors.pickupdate}}</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="half-width" appearance="none">
          <input matInput formControlName="wt"  placeholder="Weight"  type="text" required>
          <mat-error *ngIf="formErrors.wt">{{formErrors.wt}}</mat-error>  
        </mat-form-field>
        <mat-form-field class="half-width" appearance="none">
            <input matInput formControlName="vol"  placeholder="Volume"  type="text" required>
            <mat-error *ngIf="formErrors.vol">{{formErrors.vol}}</mat-error>  
          </mat-form-field>
    </p>
   <p>
    <mat-checkbox *ngIf="Userlog[3]!=0" (change)="fun()">Redeem Points</mat-checkbox>
  <mat-checkbox *ngIf="Userlog[3]===0"  [disabled]="true">You cannot redeem since you have 0 points</mat-checkbox>
   </p>
      
    <button type="button" mat-raised-button class="text-floral-white" style="background-color: cadetblue;" (click)="goBack()">Back</button>
    <button type="reset" mat-raised-button class=" text-floral-white"  style="background-color:gray">Reset</button>
    <button type="submit" mat-raised-button class=" text-floral-white" style="background-color:green" [disabled]="fform.form.invalid">Submit</button>
</form>
</div>
<div *ngIf="submitted && !info" class="container"
fxLayout="column"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px">
<button type="button" mat-raised-button class="text-floral-white" style="background-color: cadetblue;padding-top:50px;padding-bottom: 50px;" (click)="getInfo()">Get Info</button>
</div>
<div *ngIf="info && !submitted"
  class="container"
fxLayout="column"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px">
<h1>Your Courier Information</h1>
<h4>Consignment Number : {{addedcourier.id}}</h4>
<h3>Senders's Information</h3>
<p>Sender's Name : {{addedcourier.sendername}}</p>
<p>Sender's Mail : {{addedcourier.email}}</p>
<p>Sender's Phone Number : {{addedcourier.phnumber}}</p>
<p>Sender's Address : {{addedcourier.senderaddress}} , {{addedcourier.sendercity}} ,{{addedcourier.senderdistrict}} ,{{addedcourier.senderstate}}</p>
<h3>Recipient Information</h3>
<p>Recipient Name : {{addedcourier.repname}}</p>
<p>Recipient Phone Number : {{addedcourier.repphnumber}}</p>
<p>Recipient Address : {{addedcourier.repaddress}} , {{addedcourier.repcity}} , {{addedcourier.repdistrict}},{{addedcourier.repstate}}</p>
<br>
<p>Courier Service : {{addedcourier.courierservice}}</p>
<br>
<h2>The price to be paid : <b>{{addedcourier.price}}</b></h2>
<app-payment></app-payment>
</div>
</body>

