.container {
   
    margin-right: 200px;
    margin-left: 250px;
    display:flex;
    
}
.class1{
  padding-left:200px;
  padding-right: 200px;
}
.example-card {
  max-width: 300px;

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
img{
height: 180px;
width:250px;
}
