<!doctype html>
<html>
<head>

</head>
<body class="back">
<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" >
<!--<img src="\assets\images/bgimg.jpg">-->
<pre style="font-size: 1.5rem"><b>
We have already registered our presence with our exclusive and largest network in the courier 
and express industry in India.We have created bonds among all around us and with the company 
by valuing the one-to-one relationship. We aim at doing things differently to create a 
revolution in the customer service to keep all of us smiling with satisfaction. 
                                                              -Thomas John, Chairman
</b></pre>
<br>
</div>
<div class="container"><pre style="font-size: 1.5rem;">
The new look of Professional logo envisages the vision of the management - A vision of expanding its reach, 
delivering service that is value for money and propelling Professional to leadership and entrenching itself there for many 
successful years. The newly incorporated motif of two kites in tandem is symbolic of its vision to soar high reaching new
horizons and exploring new frontiers. The Yellow kite represents sunshine, optimism and the Orange kite represents energy 
and dedication.



</pre>
</div>

</body>
</html>