<mat-sidenav-container fullscreen>
  <mat-sidenav class="vertical-menu" mode="side" #sidenav opened position="start">
    <a mat-button class="serif"  routerLink="/dashboardcboy" routerLinkActive="active" ><i class="fa fa-clock-o fa-lg"></i><b> Dashboard</b></a>
    
    <a mat-button class="serif"  routerLink="/courierreceive" routerLinkActive="active" ><i class="fa fa-envelope fa-lg"></i><b> Receive Couriers</b></a>
    <a mat-button class="serif"  routerLink="/courierboydelivery" routerLinkActive="active" ><i class="fa fa-envelope-open fa-lg"></i><b> Deliver Couriers</b></a>
    <a mat-button (click)="logout()"><mat-icon>power_settings_new</mat-icon><b> Logout</b></a>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: #1d3557;color:floralwhite">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
     V2V Couriers
    </mat-toolbar>
    <div class="row row-content">
      <div class="col-12 col-sm-9">
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead class="thead-dark">
                      <tr>
                          <th>Consignment Number</th>
                          <th>Sender</th>
                          <th>Recipient</th>
                          <th>Status</th>
                          <th>Accept</th>
                      </tr>
                  </thead>
                  <tbody *ngFor="let courier of couriers; index as i">
                      <tr >
                          <td>{{courier.id}}</td>
                          <td>{{courier.sendername}} 
                            {{courier.email}} 
                          {{courier.phnumber}}
                        {{courier.senderaddress}}
                      {{courier.sendercity}}
                      {{courier.senderstate}}</td>
                          <td>{{courier.repname}}
                            {{courier.repphnumber}}
                            {{courier.repaddress}}
                            {{courier.repcity}}
                            {{courier.repstate}}</td>
                          <td><span *ngIf="!clicked">{{courier.status}}</span>
                            <span *ngIf="clicked && index>i">{{courierupdate.status}}</span>
                            <span *ngIf="clicked && index==i">{{courierupdate.status}}</span>
                           <span *ngIf="clicked && i>index">{{courier.status}}</span>
                          </td>
                          <td>
                            <span *ngIf="!clicked"><button type="button" mat-raised-button class=" text-floral-white" style="background-color:green"  (click)='accepted(courier.id,i)'>Accept</button></span>
                            <span *ngIf="clicked && index==i"></span>
                            <span *ngIf="clicked && i<index"></span>
                            <span *ngIf="clicked && i>index"><button type="button" mat-raised-button class=" text-floral-white" style="background-color:green"  (click)='accepted(courier.id,i)'>Accept</button></span>
                          </td>
                        
                        </tr>
                  </tbody>
              </table>
          </div>
      </div>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>

